<body>
  <font color='1A1F71'><i><strong>Estimado usuario,</font color='1A1F71'>
    </strong></i><br></br>

    Su codigo OTP es: <FONT COLOR='1A1F71'><strong>{{otp}}</strong></FONT COLOR='1A1F71'>.
</body>