<body>
  <p>¡Bienvenido {{name}}!</p>

  Gracias por registrarse en nuestra plataforma. Su usuario se encuentra
  pendiente de activación, por lo que en un período máximo de 24 horas
  laborables, nuestro personal de servicio al cliente se estará comunicando con
  usted para completar la activación del mismo.
</body>