<body>
    Le hemos asignado una contrase침a temporal en fecha {{date}} para que pueda ingresar nuevamente desde su cuenta.
    Su contrase침a temporal es: <FONT COLOR='1A1F71'><strong>{{tempPassword}}</strong></FONT COLOR='1A1F71'>.</br></br>
    Por favor al iniciar sesi칩n, actualice esta informaci칩n lo antes posible.
</body>