<body>
  <font color='1A1F71'><i><strong>Estimado usuario {{name}},</font color='1A1F71'>
    </strong></i><br></br>

    Se ha creado un usuario con su correo electrónico en Doctors System App. Si usted no ha realizado esta acción, por favor contacte al administrador del sistema.
</body>
